body {
  background: url(https://i.ytimg.com/vi/zSpyvMdRSlY/maxresdefault.jpg) center slategray;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100vw;
  background-color: darksalmon;
}

nav li {
  display: inline;
  list-style-type: none;
}

nav>ul.ul-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
}

.profile-pic {
  margin-top: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#list {
  background-color: red;
  color: white;
}

a {
  background-color: gray;
}

.container {
  margin-top: 100px;
  overflow: auto;
}

.blog-content {
  /*float: left;*/
  /*width: 70%;*/
}

.sidebar {
  /*float: left;*/
  /*width: 30%;*/
}

.headerfooter {
  margin-top: 100px;
}

#greeting {
  background-color: black;
  color: white;
}

.projects {
  margin-top: 100px;
}

.highlighted {
  font-weight: bolder;
  color: green;
}

.loser {
  background-color: red;
}

.winner {
  background-color: green;
}
