body {
  background-color: lightsalmon;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5em;
  width: 80%;
  background-color: lightsalmon;
}

nav li {
  display: inline;
  list-style-type: none;
}

.profile-pic {
  margin-top: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#list {
  background-color: red;
  color: white;
}

a {
  background-color: gray;
}

.container {
  margin-top: 100px;
  position: relative;
}

.blog-content {
  position: absolute;
  width: 70%;
}

.sidebar {
  position: absolute;
  width: 30%;
  right: 0;
}
